[Unit]
Description=Knightykell Cerebellum Docker Compose
Requires=docker.service
Wants=network-online.target time-sync.target cerebellum-firstboot.service
After=docker.service network-online.target time-sync.target cerebellum-firstboot.service

[Service]
Type=oneshot
WorkingDirectory=/opt/cerebellum/docker
Environment=COMPOSE_FILE=/opt/cerebellum/docker/compose.yml
ExecStart=/opt/cerebellum/docker/compose_up.sh
ExecStop=/opt/cerebellum/docker/compose_down.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
