[Unit]
Description=Knightykell Cerebellum First Boot
After=local-fs.target network-online.target cerebellum-growroot.service
Wants=network-online.target
ConditionPathExists=/opt/cerebellum/firstboot.sh

[Service]
Type=oneshot
ExecStart=/opt/cerebellum/firstboot_screen_wrapper.sh
RemainAfterExit=no

[Install]
WantedBy=multi-user.target
