[Unit]
Description=PSYCHE first boot provisioning
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/opt/psyche/firstboot.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
